<div class="container">
    <h1>Register Page</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <input type="text" name="username" title="Username">
        </div>
        <div class="form-group">
            <input type="password" name="password" title="Password">

        </div>
        <button class="btn btn-primary" type="submit">Reg</button>
        <a href="/">
            <button class="btn btn-primary" type="button"> Cancel</button>
        </a>
    </form>
</div>